
.main {
    background: url(/icons/BackgroundDecor.png);
    padding-left: 80px;
    padding-right: 80px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: var(--blue);
    padding-top:51px;
}

.banner-main {
    display: flex;
}

.question {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: var(--blue);
    padding-top: 21px;
}
.text .detail {
    padding-top: 20px;
    width: 77%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    color: #11223F;
}
.text .now {
    padding-top: 20px;
}
.text .link {
    padding-top: 30px;
    padding-left: 20px;
}
.link a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: var(--blue);
}
.link i {
    margin-bottom: 20px;
}
.email-input {
    padding-top: 70px;
    padding-bottom: 50px;
}

.email-input input{
    width: 626px;
    height: 56px;
    mix-blend-mode: normal;
    border: 1px solid #C9CDD5;
    border-radius: 5px;
}

.email-input button {
    width: 172px;
    height: 56px;
    background: var(--blue);
    border-radius: 5px;
    border: none;
    margin-left: -173px;
}

input::-webkit-input-placeholder {
    color: var(--grey);
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 23px;
    mix-blend-mode: normal;
    margin-left: 36px;
}

.tools {
    display: flex;
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
    margin-bottom: 54px;
}

.radial {
    /* content: ""; */
    position: absolute;
    right: 60px;
    max-width: 327px;
}

.list-icons {
    display: flex;
    text-align: center;;
}

.item-icons {
    padding-right: 78px;
}

.home-icons {
    text-decoration: none;
}
.item-img img {
    width: 80px;
    height: 80px;
}

.item-icons h2{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--text);
    margin-top: 24px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.main-content {
    padding-top: 81px;
}

.layout {
    display: flex;
}

.source-code {
    text-align: center;
}

.source-code h2{
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    color: var(--blue);
}

img {
    width: 526px;
}

.content-left{
    height: auto;
    background-color: #FEFEFE;
    box-shadow: 0px 0px 24px rgb(0 0 0 / 7%);
    margin-left: 119px;
}

.package {
    padding: 40px;
}

.package h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: var(--blue);
}

.package span{
    position: relative;
    font-weight: 450;
    font-size: 18px;
    line-height: 40px;
    color: #EC5252;
}
.package-list h5{
    margin-top: 10px;
    font-weight: 450;
    font-size: 18px;
    line-height: 40px;
    color: var(--text);
}

.package-detail {
    display: flex;
    align-items: center;
}

.package-detail img {
    max-width: 13px;
    height: 16px;
}

.package-detail p {
    font-weight: 450;
    font-size: 18px;
    line-height: 40px;
    color: var(--text);
    margin-left: 14px;
}
.btn { 
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-top: 16px;
    border-radius: 3px;
    background: #EC5252;
    color: var(--white);
    Width: 393px;
    Height:60px;
    border: none;
}

.main-guide {
    margin-top: 100px;
}

.guide {
    display: flex;
}

.dot {
    width: 158px;
    height: 73px;
}
.winding {
    width: 69px;
    height: 43px;
    position: absolute;
    right: 0;
    padding-right: 119px;

}
.item-download {
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    color: var(--orange);
    padding-top: 9px;
    padding-left: 25px;
}


.item-download img{
    width: 6px;
    height: 12px;
}
.item-guide {
    padding-top: 10px;
}
.item-guide p{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #76797E;
}

.item-guide img {
    width: 13px;
    height: 9px;
}

.item-guide strong {
    color: black !important;
}

.guide-left {
    padding-left: 173px;
}

.guide-right h4, .guide-left h4 {
    padding-top: 40px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: var(--blue);
}

.main-guide_2 {
    padding-top: 100px;
}

.guide_2 {
    display: flex;
}

.guide-left-img img{
    padding-top: 140px;
    padding-left: 140px;
    margin-right: -50px;
}

.content-guide_3 {
    padding-top: 100px;
}
.send {
    width: 36px;
    height: 23px;
    left: 46%;
    position: relative
}

.content-title-guide {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 10px;

    padding-bottom: 30px;
}
.content-title-guide h4 {
    color: var(--blue);
}

.text-guide {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    padding: 5px 14px;
    margin: 5px 0;
    color: var(--text);
    background-color: var(--white);
    box-shadow: 0px 10px 14px rgb(7 68 242 / 7%);
}

.guide_3 {
    display: flex;
}

.content-left_3 {
    position: relative;
    padding-left: 70px;
    width: 50%;

}

.content-text-docs {
    background-color: var(--white);
    box-shadow: 0px 10px 14px rgb(7 68 242 / 7%);
    padding: 9px 35px 30px 26px;
}

.windingg {
    width: 69px;
    height: 43px;
    position: absolute;
    right: 0;
    top: -80px;
}
.main-guide_4 {
    padding-top: 100px;
}

.content_4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: var(--blue);
}

.content_4 img {
    width: 40px;
    height: 34px;
} 
.content-title_4 {
    display: flex;
}

.content-learning img{
    width: 85px;
    height: 85px;
}

.content-learning {
    display: flex;
}

.text-learning {
    margin: 10px;
    padding-bottom: 75px;
    width: 70%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
}


